.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
}


.star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
    .star {
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
}

.star:nth-child(1) {
    --star-tail-length: 5.43em;
    --top-offset: 76.66vh;
    --fall-duration: 6.725s;
    --fall-delay: 8.333s;
}

.star:nth-child(2) {
    --star-tail-length: 6.49em;
    --top-offset: 97.4vh;
    --fall-duration: 7.076s;
    --fall-delay: 8.043s;
}

.star:nth-child(3) {
    --star-tail-length: 6.58em;
    --top-offset: 42.45vh;
    --fall-duration: 7.064s;
    --fall-delay: 6.479s;
}

.star:nth-child(4) {
    --star-tail-length: 6.9em;
    --top-offset: 52.42vh;
    --fall-duration: 10.766s;
    --fall-delay: 8.953s;
}

.star:nth-child(5) {
    --star-tail-length: 6.33em;
    --top-offset: 44.69vh;
    --fall-duration: 6.505s;
    --fall-delay: 4.21s;
}

.star:nth-child(6) {
    --star-tail-length: 7.36em;
    --top-offset: 1vh;
    --fall-duration: 9.603s;
    --fall-delay: 9.074s;
}

.star:nth-child(7) {
    --star-tail-length: 5.64em;
    --top-offset: 15.02vh;
    --fall-duration: 7.376s;
    --fall-delay: 1.278s;
}

.star:nth-child(8) {
    --star-tail-length: 5.63em;
    --top-offset: 86.16vh;
    --fall-duration: 6.909s;
    --fall-delay: 6.049s;
}

.star:nth-child(9) {
    --star-tail-length: 5.43em;
    --top-offset: 81.87vh;
    --fall-duration: 8.447s;
    --fall-delay: 3.728s;
}

.star:nth-child(10) {
    --star-tail-length: 5.66em;
    --top-offset: 82vh;
    --fall-duration: 11.658s;
    --fall-delay: 5.166s;
}

.star:nth-child(11) {
    --star-tail-length: 6.94em;
    --top-offset: 83.99vh;
    --fall-duration: 9.3s;
    --fall-delay: 3.795s;
}

.star:nth-child(12) {
    --star-tail-length: 6.4em;
    --top-offset: 88.67vh;
    --fall-duration: 10.117s;
    --fall-delay: 8.201s;
}

.star:nth-child(13) {
    --star-tail-length: 6.88em;
    --top-offset: 10.28vh;
    --fall-duration: 7.523s;
    --fall-delay: 6.476s;
}

.star:nth-child(14) {
    --star-tail-length: 5.65em;
    --top-offset: 85.48vh;
    --fall-duration: 11.523s;
    --fall-delay: 1.928s;
}

.star:nth-child(15) {
    --star-tail-length: 7.01em;
    --top-offset: 60.38vh;
    --fall-duration: 7.077s;
    --fall-delay: 5.375s;
}

.star:nth-child(16) {
    --star-tail-length: 7.15em;
    --top-offset: 8.2vh;
    --fall-duration: 7.007s;
    --fall-delay: 8.513s;
}

.star:nth-child(17) {
    --star-tail-length: 6.03em;
    --top-offset: 60.45vh;
    --fall-duration: 6.286s;
    --fall-delay: 1.128s;
}

.star:nth-child(18) {
    --star-tail-length: 7.24em;
    --top-offset: 64.66vh;
    --fall-duration: 6.764s;
    --fall-delay: 8.219s;
}

.star:nth-child(19) {
    --star-tail-length: 6.72em;
    --top-offset: 77.84vh;
    --fall-duration: 6.345s;
    --fall-delay: 5.414s;
}

.star:nth-child(20) {
    --star-tail-length: 5.18em;
    --top-offset: 77.09vh;
    --fall-duration: 11.1s;
    --fall-delay: 3.275s;
}

.star:nth-child(21) {
    --star-tail-length: 6.9em;
    --top-offset: 79.99vh;
    --fall-duration: 10.669s;
    --fall-delay: 6.632s;
}

.star:nth-child(22) {
    --star-tail-length: 5.51em;
    --top-offset: 5.58vh;
    --fall-duration: 11.87s;
    --fall-delay: 7.314s;
}

.star:nth-child(23) {
    --star-tail-length: 7.23em;
    --top-offset: 93.04vh;
    --fall-duration: 6.74s;
    --fall-delay: 7.7s;
}

.star:nth-child(24) {
    --star-tail-length: 6.98em;
    --top-offset: 91.93vh;
    --fall-duration: 7.312s;
    --fall-delay: 7.881s;
}

.star:nth-child(25) {
    --star-tail-length: 7.1em;
    --top-offset: 81.11vh;
    --fall-duration: 9.468s;
    --fall-delay: 0.455s;
}

.star:nth-child(26) {
    --star-tail-length: 6.35em;
    --top-offset: 19.25vh;
    --fall-duration: 9.886s;
    --fall-delay: 1.99s;
}

.star:nth-child(27) {
    --star-tail-length: 7.41em;
    --top-offset: 26.3vh;
    --fall-duration: 11.086s;
    --fall-delay: 4.307s;
}

.star:nth-child(28) {
    --star-tail-length: 6.15em;
    --top-offset: 99.98vh;
    --fall-duration: 8.296s;
    --fall-delay: 2.423s;
}

.star:nth-child(29) {
    --star-tail-length: 7.32em;
    --top-offset: 78.05vh;
    --fall-duration: 6.528s;
    --fall-delay: 3.732s;
}

.star:nth-child(30) {
    --star-tail-length: 5.78em;
    --top-offset: 11.2vh;
    --fall-duration: 10.211s;
    --fall-delay: 4.973s;
}

.star:nth-child(31) {
    --star-tail-length: 5.06em;
    --top-offset: 58.82vh;
    --fall-duration: 10.642s;
    --fall-delay: 4.177s;
}

.star:nth-child(32) {
    --star-tail-length: 6.72em;
    --top-offset: 91.42vh;
    --fall-duration: 7.607s;
    --fall-delay: 3.47s;
}

.star:nth-child(33) {
    --star-tail-length: 7.26em;
    --top-offset: 64.64vh;
    --fall-duration: 7.003s;
    --fall-delay: 4.529s;
}

.star:nth-child(34) {
    --star-tail-length: 6.61em;
    --top-offset: 5.6vh;
    --fall-duration: 9.084s;
    --fall-delay: 8.554s;
}

.star:nth-child(35) {
    --star-tail-length: 6.61em;
    --top-offset: 76.43vh;
    --fall-duration: 9.879s;
    --fall-delay: 0.184s;
}

.star:nth-child(36) {
    --star-tail-length: 7.41em;
    --top-offset: 17.05vh;
    --fall-duration: 7.183s;
    --fall-delay: 1.085s;
}

.star:nth-child(37) {
    --star-tail-length: 6.76em;
    --top-offset: 21.25vh;
    --fall-duration: 10.203s;
    --fall-delay: 6.434s;
}

.star:nth-child(38) {
    --star-tail-length: 6.52em;
    --top-offset: 41.56vh;
    --fall-duration: 6.717s;
    --fall-delay: 0.397s;
}

.star:nth-child(39) {
    --star-tail-length: 7.41em;
    --top-offset: 72.36vh;
    --fall-duration: 11.736s;
    --fall-delay: 9.239s;
}

.star:nth-child(40) {
    --star-tail-length: 5.61em;
    --top-offset: 84.11vh;
    --fall-duration: 8.729s;
    --fall-delay: 7.039s;
}

.star:nth-child(41) {
    --star-tail-length: 6.42em;
    --top-offset: 73.6vh;
    --fall-duration: 10.822s;
    --fall-delay: 9.916s;
}

.star:nth-child(42) {
    --star-tail-length: 6em;
    --top-offset: 44.17vh;
    --fall-duration: 7.237s;
    --fall-delay: 3.275s;
}

.star:nth-child(43) {
    --star-tail-length: 7.44em;
    --top-offset: 29.81vh;
    --fall-duration: 11.925s;
    --fall-delay: 2.272s;
}

.star:nth-child(44) {
    --star-tail-length: 7.23em;
    --top-offset: 79.28vh;
    --fall-duration: 9.421s;
    --fall-delay: 0.017s;
}

.star:nth-child(45) {
    --star-tail-length: 7.38em;
    --top-offset: 44.3vh;
    --fall-duration: 7.036s;
    --fall-delay: 3.819s;
}

.star:nth-child(46) {
    --star-tail-length: 5.45em;
    --top-offset: 91.54vh;
    --fall-duration: 7.121s;
    --fall-delay: 1.383s;
}

.star:nth-child(47) {
    --star-tail-length: 7.15em;
    --top-offset: 69.81vh;
    --fall-duration: 9.902s;
    --fall-delay: 6.034s;
}

.star:nth-child(48) {
    --star-tail-length: 5.75em;
    --top-offset: 13.8vh;
    --fall-duration: 7.117s;
    --fall-delay: 0.271s;
}

.star:nth-child(49) {
    --star-tail-length: 6.24em;
    --top-offset: 32.37vh;
    --fall-duration: 9.776s;
    --fall-delay: 9.426s;
}

.star:nth-child(50) {
    --star-tail-length: 6.91em;
    --top-offset: 13.71vh;
    --fall-duration: 6.017s;
    --fall-delay: 4.411s;
}


.star::before,
.star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
}

.star::before {
    transform: rotate(45deg);
}

.star::after {
    transform: rotate(-45deg);
}

@keyframes fall {
    to {
        transform: translate3d(-30em, 0, 0);
    }
}

@keyframes tail-fade {

    0%,
    50% {
        width: var(--star-tail-length);
        opacity: 1;
    }

    70%,
    80% {
        width: 0;
        opacity: 0.4;
    }

    100% {
        width: 0;
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 0.6;
    }
}